# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [81]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [82]:
chipotle = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [83]:
chipotle['item_price'] = chipotle['item_price'].str.replace('$', '').astype(float)

max_price = chipotle['item_price'].max()
mask = chipotle['item_price'] == max_price

max_valued_product = chipotle[mask]

print("Producto de mayor valor:", max_valued_product['item_name'].values[0])

Producto de mayor valor: Chips and Fresh Tomato Salsa

In [84]:
# #precios_float = []

# for index, row in chipotle.iterrows():
#     numerito_str = row["item_price"].replace('$',"")
#     numerito_float = float(numerito_str)
#     precios_float.append(numerito_float)
# chipotle.loc[:,"item_price_float"] = precios_float
# precios_float

In [86]:
# chipotle.loc[:,'item_price'] = chipotle.loc[:,'item_price'].str[1:].astype(float)

### Step 4. How many products cost more than $10.00?

In [ ]:
over_ten = chipotle[chipotle['item_price']>10.00]
over_ten.shape[0]

1130

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [ ]:
orders_over_ten = over_ten['order_id'].nunique()
orders_over_ten

863

### Step 5. What is the price of each item? Get only item_name and unit_price

In [ ]:
# Crea una nueva columna llamada unit_price

In [ ]:
chipotle['unit_price'] = chipotle['item_price'] / chipotle['quantity']
item_prices = chipotle[['item_name', 'unit_price']]
item_prices

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [ ]:
chipotle.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [ ]:
max_price = chipotle['item_price'].max()
most_expensive_items = chipotle[chipotle['item_price'] == max_price].max()
most_expensive_items

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                            None
item_price                                   44.25
unit_price                                    2.95
dtype: object

In [ ]:
most_expensive_item2 = chipotle.loc[chipotle['item_price'].idxmax()]
most_expensive_item2

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
unit_price                                    2.95
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [88]:
mask = chipotle.loc[:,"item_name"] == "Veggie Salad Bowl"
mask.sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [92]:
cond1 = chipotle.loc[:,"item_name"] == "Canned Soda"
chipotle.loc[:,"item_name"]

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [94]:
cond2 = chipotle.loc[:,"quantity"] >1
cond2

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: quantity, Length: 4622, dtype: bool

In [96]:
mask = cond1 & cond2

In [99]:
chipotle.loc[mask, :].shape[0]

20

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()